// general setting
a {
  display: inline-block;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
	padding: 0;
}
h2 {
  font-weight: bold;
}
span, small, p {
  line-height: 1.6em;
}

@include media-breakpoint-up(sm) {
    body, .fixed-top, .fixed-bottom, .offcanvas {
    max-width: 430px;
    margin: 0 auto;
  }
}