// swiper
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    padding: 0 10px;
  }
  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: #343a40;
  }

  a {
    display: inline-block;
  }
  ul, ol, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  small {
    line-height: 1.6;
  }
h2 {
  font-weight: bold;
}

.bg-base {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
