// general setting
a {
  display: inline-block;
}
ul,
ol,
li {
  list-style: none;
}
h2 {
  font-weight: bold;
}
span, small, p {
  line-height: 1.6rem;
}

@include media-breakpoint-up(sm) {
    body, .fixed-bottom, .offcanvas {
    max-width: 430px;
    margin: 0 auto;
  }
}