// background setup
.bg-base {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// 背景暗化效果
.bg-effect {
  filter: brightness(80%); 
  transition: filter 0.4s ease;
}
.bg-effect:hover {
  filter: brightness(100%);
}

// 拉狀的bar
.dragBar {
  height: 2px;
  width: 64px;
  background-color: #949494;
  margin: 6px auto;
}

// span 背後圓圈 44px
.bg-btn-rounded {
  // position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 2;
  // right: 12px;
  // top: 12px;
}
.bg-btn-rounded::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #f6f6f5;
  z-index: -1;
}
.bg-btn-rounded:hover::before {
  background-color: #dcdbdb;
}