<footer class="footer container fixed-bottom bg-white">
    <ul class="nav justify-content-between pb-4">
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="./search.html">
            <span class="material-symbols-outlined">search</span>
            <small>搜尋</small>
          </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link d-flex flex-column align-items-center" href="#">
                <span class="material-symbols-outlined">pets</span>
                <small>收藏</small>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link d-flex flex-column align-items-center" href="./order.html">
                <span class="material-symbols-outlined fill-1">hotel</span>
                <small>訂單</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="./information.html">
                <span class="material-symbols-outlined fill-1">send</span>
                <small>訊息</small>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex flex-column align-items-center" href="#">
                <span class="material-symbols-outlined fill-1">account_circle</span>
                <small>個人</small>
            </a>
        </li>
    </ul>
</footer>
