<header>
    <div class="container">
        <div class="navbar pt-6">
            <h1><a href="./index.html"><img src="../assets/images/logo.svg" alt="logo"></a></h1>
            <a href="#" class="bg-btn-rounded">
                <span class="material-symbols-outlined fs-2 text-primary-700">
                    notifications
                </span>
            </a>
        </div>
    </div>
</header>