// home-form
.form-container {
  border: 1px solid map-get($theme-colors, "neutral-200");
  border-radius: 12px;
}
.form-container .form-control {
  border: none;
  padding: 16px;
  padding-left: 56px;
  &:focus {
    box-shadow: none;
  }
}
// home-form-icon
.input-icon {
  position: relative;
}
.input-icon .material-symbols-outlined {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: map-get($theme-colors, "neutral-400");
}
.btn-search {
  background-color: map-get($theme-colors, "primary-400");
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  border: none;
}
.btn-search:hover {
  background-color: map-get($theme-colors, "neutral-200");
  color: white;
}
// home-form-offcanvas-part
.offcanvas {
  --bs-offcanvas-height: 70vh;
}
.search-item {
  position: relative;
}
.search-item .material-symbols-outlined {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: map-get($theme-colors, "neutral-700");
}
// datepicker
.ui-datepicker {
  width: 100%;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
// people counting
.countingBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-size: 18px;
  font-weight: bold;
  .count-btn {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
  }
  .count-btn::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #f1f1f1;
    z-index: -1;
  }
  .count-btn:hover::before {
    background-color: #e0e0e0;
  }
}

// 適宜的環境設施
.dogZone .card {
  height: 190px;
}

.calendar-body {
  padding: 16px;
}

.calendar-table th,
.calendar-table td {
  text-align: center;
  position: relative;
  width: 40px;
  height: 40px;
}

.calendar-table th::before,
.calendar-table td::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  z-index: -1;
}

.calendar-table td {
  border-radius: 50%;
  cursor: pointer;
}

.calendar-table td.selected {
  background-color: #fe9839;
  color: white;
}

.calendar-table td.range-selected {
  background-color:#FBF9C6;
  border-radius: 0;
}
.calendar-table td.range-selected-left::before {
  content: '';
  top: 0;
  left: 40%;
  background-color:#FBF9C6;
  border-radius: 0;
}
.calendar-table td.range-selected-right::before {
  content: '';
  top: 0;
  left: 0;
  background-color:#FBF9C6;
  border-radius: 0;
}
.date-summary {
  box-shadow: 0 -2px 6px 0px #33333326;
}