<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pet Pet Go</title>
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container">
      <h2 class="pt-3 pb-4 text-center">預定您與寵物的完美旅程</h2>
      <form action="">
        <div class="form-container mb-4">
          <div class="input-icon border-bottom">
            <span class="material-symbols-outlined lh-lg">
              search
            </span>
            <input type="text" class="form-control lh-lg rounded-top-3 shadow-none" data-bs-toggle="offcanvas"
              data-bs-target="#destinationSelect" aria-controls="destinationSelect" placeholder="臺東">
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="destinationSelect"
              aria-labelledby="destinationSelectLabel">
              <div class="offcanvas-header d-block mb-4">
                <div class="dragBar"></div>
                <h2 class="offcanvas-title text-center pt-4 pb-4" id="destinationSelectLabel">尋找目的地</h2>
              </div>
              <div class="offcanvas-body">
                <div class="container">
                  <!-- Search Box -->
                  <div class="input-icon border rounded-3">
                    <span class="material-symbols-outlined">
                      search
                    </span>
                    <input type="text" class="form-control lh-lg rounded-3 shadow-none lh-lg" placeholder="臺東">
                  </div>
                  <!-- Search History -->
                  <div class="search-history lh-lg">
                    <h7 class="fw-bold fs-7 d-block pt-4 pb-4">搜尋紀錄</h7>
                    <div class="search-item pt-2 pb-2 border-bottom">
                      <span class="material-symbols-outlined">
                        location_on
                      </span>
                      <div class="ps-9 ">
                        <a class="fs-7 d-block stretched-link" href="#">桔達大賣店</a>
                        <small class="fs-8 text-neutral-400">台南市光榮路689號</small>
                      </div>
                    </div>

                    <div class="search-item pt-2 pb-2 position-relative border-bottom">
                      <span class="material-symbols-outlined">
                        location_on
                      </span>
                      <div class="ps-9 ">
                        <a class="fs-7 d-block stretched-link" href="#">台南市</a>
                        <small class="fs-8 text-neutral-400">27關廟物友路整區</small>
                      </div>
                    </div>
                  </div>
                  <!-- Popular Place -->
                  <div class="popular-place lh-lg">
                    <h7 class="fw-bold d-block fs-7 pt-4 pb-4">最熱門</h7>

                    <div class="search-item pt-2 pb-2 position-relative border-bottom">
                      <span class="material-symbols-outlined">
                        location_on
                      </span>
                      <div class="ps-9 ">
                        <a class="fs-7 d-block stretched-link" href="#">桔達大賣店</a>
                        <small class="fs-8 text-neutral-400">台南市光榮路689號</small>
                      </div>
                    </div>

                    <div class="search-item pt-2 pb-2 position-relative border-bottom">
                      <span class="material-symbols-outlined">
                        location_on
                      </span>
                      <div class="ps-9 ">
                        <a class="fs-7 d-block stretched-link" href="#">台南市</a>
                        <small class="fs-8 text-neutral-400">27關廟物友路整區</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-icon border-bottom">
            <span class="material-symbols-outlined lh-lg">calendar_today</span>
            <input type="text" id="dateRange" class="form-control lh-lg shadow-none" placeholder="7月14日 – 7月16日"
              data-bs-toggle="offcanvas" data-bs-target="#datePickerOffcanvas" aria-controls="datePickerOffcanvas">
          </div>
          <div class="offcanvas offcanvas-bottom" tabindex="-1" id="datePickerOffcanvas"
            aria-labelledby="datePickerOffcanvasLabel">
            <div class="offcanvas-header d-block">
              <div class="dragBar"></div>
            </div>
            <div class="offcanvas-body">
              <div id="datepicker"></div>
              <div id="datepicker-next-month"></div>
              <p class="mt-3">入住日期：<strong id="selectedDates"></strong></p>
              <button class="w-100 btn btn-primary mt-3" id="confirmDates">選擇日期 (2晚)</button>
            </div>
          </div>
          <div class="input-icon">
            <span class="material-symbols-outlined lh-lg">
              sound_detection_dog_barking
            </span>
            <input type="text" class="form-control lh-lg rounded-bottom-3 shadow-none" data-bs-toggle="offcanvas"
            data-bs-target="#peopleCount" aria-controls="peopleCount"  placeholder="1間房 – 2位成人・1隻寵物">
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="peopleCount"
              aria-labelledby="destinationSelectLabel">
              <div class="offcanvas-header d-block mb-4">
                <div class="dragBar"></div>
                <h2 class="offcanvas-title text-center pt-4 pb-4 fw-bold" id="peopleCountLabel">選擇客房與住客數量</h2>
              </div>
              <div class="offcanvas-body">
                <div class="container">
                  <div class="peopleDisplay lh-lg">
                    <div class="display-item pt-2 pb-2 border-bottom">
                      <div class="pt-3 pb-3 d-flex justify-content-between align-items-center">
                        <p class="fs-6">客房</p>
                        <div class="countingBox">
                          <a href="#" class="count-btn">-</a>
                          1
                          <a href="#" class="count-btn">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="display-item pt-2 pb-2 border-bottom">
                      <div class="pt-3 pb-3 d-flex justify-content-between align-items-center">
                        <p class="fs-6">成人</p>
                        <div class="countingBox">
                          <a href="#" class="count-btn">-</a>
                          2
                          <a href="#" class="count-btn">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="display-item pt-2 pb-2 border-bottom">
                      <div class="pt-3 pb-3 d-flex justify-content-between align-items-center">
                        <p class="fs-6">孩童</p>
                        <div class="countingBox">
                          <a href="#" class="count-btn">-</a>
                          0
                          <a href="#" class="count-btn">+</a>
                        </div>
                      </div>
                    </div>
                    <div class="display-item pt-2 pb-2 border-bottom">
                      <div class="pt-3 pb-3 d-flex justify-content-between align-items-center">
                        <p class="fs-6">寵物</p>
                        <div class="countingBox">
                          <a href="#" class="count-btn">-</a>
                          1
                          <a href="#" class="count-btn">+</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="w-100 btn btn-primary mt-3" id="confirmPeopleCount">確定</button>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-search fs-4 fw-bold mb-7 mt-3" formaction="search.html">搜尋</button>
      </form>


      <section class="recentView pb-10">
        <h2 class="mb-4">最近瀏覽</h2>
        <div class="swiper mySwiper-1 h-100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/recent_view_hotel.png" class="card-img-top mb-2" alt="hotel">
                <div class="card-body p-0 ">
                  <div class="card-title d-flex justify-content-between mb-1">
                    <a href="./hotel.html">
                      <h4 class="stretched-link">台南大飯店</h4>
                    </a>
                    <p class="d-flex align-items-center fs-7">
                      <span class="material-symbols-outlined fill-1 text-primary-400 me-1 fs-6 ">
                        pet_supplies
                      </span>
                      4.7&nbsp;
                      <span class="text-neutral-400"> (51)</span>
                    </p>
                  </div>
                  <span class="text-neutral-400 fs-8">7月12日 - 7月14日</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/recent_view_hotel.png" class="card-img-top mb-2" alt="hotel">
                <div class="card-body p-0 ">
                  <div class="card-title d-flex justify-content-between mb-1">
                    <a href="./hotel.html">
                      <h4 class="stretched-link">台南大飯店</h4>
                    </a>
                    <p class="d-flex align-items-center fs-7">
                      <span class="material-symbols-outlined fill-1 text-primary-400 me-1 fs-6">
                        pet_supplies
                      </span>
                      4.7&nbsp;
                      <span class="text-neutral-400"> (51)</span>
                    </p>
                  </div>
                  <span class="text-neutral-400 fs-8">7月12日 - 7月14日</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/recent_view_hotel.png" class="card-img-top mb-2" alt="hotel">
                <div class="card-body p-0 ">
                  <div class="card-title d-flex justify-content-between mb-1">
                    <a href="./hotel.html">
                      <h4 class="stretched-link">台南大飯店</h4>
                    </a>
                    <p class="d-flex align-items-center fs-7">
                      <span class="material-symbols-outlined  fill-1 text-primary-400 me-1 fs-6">
                        pet_supplies
                      </span>
                      4.7&nbsp;
                      <span class="text-neutral-400"> (51)</span>
                    </p>
                  </div>
                  <span class="text-neutral-400 fs-8">7月12日 - 7月14日</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <section class="popularView pb-10">
        <h2 class="mb-4">探索熱門寵物主題旅店</h2>
        <div class="swiper mySwiper-2 h-100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/popular_hotel.png" class="card-img-top mb-2" alt="hotel">
                <div class="card-body p-0 ">
                  <div class="card-title d-flex justify-content-between mb-0">
                    <a href="./hotel.html">
                      <h4 class="mb-1 stretched-link ">毛孩派對房</h4>
                    </a>
                    <p class="d-flex align-items-center fs-7">
                      <span class="material-symbols-outlined fill-1 text-primary-400 me-1 fs-6 ">
                        pet_supplies
                      </span>
                      4.7&nbsp;
                      <span class="text-neutral-400"> (51)</span>
                    </p>
                  </div>
                  <div class="mb-1">
                    <span class="badge bg-secondary-100 text-neutral-700 p-1 ps-2 pe-2 fs-8 lh-lg fw-normal">草原跑跑</span>
                    <span class="badge bg-secondary-100 text-neutral-700 p-1 ps-2 pe-2 fs-8 lh-lg fw-normal">草原跑跑</span>
                  </div>
                  <p class="fs-5 fw-bold">
                    <span class="text-neutral-400 fs-7">
                      每晚最低
                    </span>
                    TWD 6,000
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/popular_hotel.png" class="card-img-top mb-2" alt="hotel">
                <div class="card-body p-0 ">
                  <div class="card-title d-flex justify-content-between mb-0">
                    <a href="./hotel.html">
                      <h4 class="mb-1 stretched-link">毛孩派對房</h4>
                    </a>
                    <p class="d-flex align-items-center fs-7">
                      <span class="material-symbols-outlined fill-1 text-primary-400 me-1 fs-6 ">
                        pet_supplies
                      </span>
                      4.7&nbsp;
                      <span class="text-neutral-400"> (51)</span>
                    </p>
                  </div>
                  <div class="mb-1">
                    <span class="badge bg-secondary-100 text-neutral-700 p-1 ps-2 pe-2 fs-8 lh-lg fw-normal">草原跑跑</span>
                    <span class="badge bg-secondary-100 text-neutral-700 p-1 ps-2 pe-2 fs-8 lh-lg fw-normal">草原跑跑</span>
                  </div>
                  <p class="fs-5 fw-bold">
                    <span class="text-neutral-400 fs-7">
                      每晚最低
                    </span>
                    TWD 6,000
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card border-0">
                <img src="../assets/images/popular_hotel.png" class="card-img-top mb-2" alt="hotel">
                <div class="card-body p-0 ">
                  <div class="card-title d-flex justify-content-between mb-0">
                    <a href="./hotel.html">
                      <h4 class="mb-1 stretched-link">毛孩派對房</h4>
                    </a>
                    <p class="d-flex align-items-center fs-7">
                      <span class="material-symbols-outlined fill-1 text-primary-400 me-1 fs-6 ">
                        pet_supplies
                      </span>
                      4.7&nbsp;
                      <span class="text-neutral-400"> (51)</span>
                    </p>
                  </div>
                  <div class="mb-1">
                    <span class="badge bg-secondary-100 text-neutral-700 p-1 ps-2 pe-2 fs-8 lh-lg fw-normal">草原跑跑</span>
                    <span class="badge bg-secondary-100 text-neutral-700 p-1 ps-2 pe-2 fs-8 lh-lg fw-normal">草原跑跑</span>
                  </div>
                  <p class="fs-5 fw-bold">
                    <span class="text-neutral-400 fs-7">
                      每晚最低
                    </span>
                    TWD 6,000
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section class="dogZone pb-10">
        <h2 class="mb-4">最適宜的環境設施</h2>
        <div class="row g-2">
          <div class="col-md-6">
            <div class="card bg-base text-center justify-content-center"
              style="background-image: url('../assets/images/small_size_dog.png');">
              <a href="#" class="text-white stretched-link">
                <h3 class="pb-2">小型犬</h3>
                <p class="fs-7">0-9kg</p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-base text-center justify-content-center"
              style="background-image: url('../assets/images/mid_size_dog.png');">
              <a href="#" class="text-white stretched-link">
                <h3 class="pb-2">中型犬</h3>
                <p class="fs-7">10-23kg</p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-base text-center justify-content-center"
              style="background-image: url('../assets/images/large_size_dog.png');">
              <a href="#" class="text-white stretched-link">
                <h3 class="pb-2">大型犬</h3>
                <p class="fs-7">14-41kg</p>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-base text-center justify-content-center"
              style="background-image: url('../assets/images/xl_size_dog.png');">
              <a href="#" class="text-white stretched-link">
                <h3 class="pb-2">超大型犬</h3>
                <p class="fs-7">42kg以上</p>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="destination pb-16">
        <h2 class="mb-4">最chill的目的地</h2>
        <div class="row gx-4">
          <div class="col-6">
            <div class="d-flex flex-column">
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place1.png" alt="南投" class="mb-2">
                <h4>南投</h4>
              </div>
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place3.png" alt="台東" class="mb-2">
                <h4>台東</h4>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place2.png" alt="嘉義" class="mb-2">
                <h4>嘉義</h4>
              </div>
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place4.png" alt="宜蘭" class="mb-2">
                <h4>宜蘭</h4>
              </div>
            </div>
          </div>
          <div class="col-6 mb-15">
            <div class="d-flex flex-column">
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place5.png" alt="苗栗" class="mb-2">
                <h4>苗栗</h4>
              </div>
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place7.png" alt="屏東" class="mb-2">
                <h4>屏東</h4>
              </div>
            </div>
          </div>
          <div class="col-6 mb-15">
            <div class="d-flex flex-column">
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place6.png" alt="花蓮" class="mb-2">
                <h4>花蓮</h4>
              </div>
              <div class="card border-0 mb-5">
                <img src="../assets/images/chill_place8.png" alt="高雄" class="mb-2">
                <h4>高雄</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $(function () {
          // 初始化 Datepicker
          $("#datepicker").datepicker({
            numberOfMonths: 1,
            showButtonPanel: false,
            onSelect: function (dateText) {
              var selectedDate = $(this).datepicker("getDate");
              var dateFormat = $.datepicker.formatDate('mm/dd', selectedDate);

              // 將選擇的日期顯示在下方
              if (!$("#selectedDates").text()) {
                $("#selectedDates").text(dateFormat);
                $("#dateRange").val(dateFormat);
              } else {
                var existingDates = $("#selectedDates").text().split('→');
                if (existingDates.length === 1) {
                  // 設置退房日期
                  $("#selectedDates").text(existingDates[0] + ' → ' + dateFormat);
                  $("#dateRange").val(existingDates[0] + ' → ' + dateFormat);
                }
              }
            }
          });

          // 初始化下一個月份的 Datepicker
          $("#datepicker-next-month").datepicker({
            numberOfMonths: 1,
            showButtonPanel: false,
            defaultDate: "+1m", // 顯示下一個月份
            onSelect: function (dateText) {
              var selectedDate = $(this).datepicker("getDate");
              var dateFormat = $.datepicker.formatDate('mm/dd', selectedDate);
              $("#dateRange").val(dateFormat);

              // 將選擇的日期顯示在下方
              if (!$("#selectedDates").text()) {
                $("#selectedDates").text(dateFormat);
                $("#dateRange").val(dateFormat);
              } else {
                var existingDates = $("#selectedDates").text().split('→');
                if (existingDates.length === 1) {
                  // 設置退房日期
                  $("#selectedDates").text(existingDates[0] + ' → ' + dateFormat);
                  $("#dateRange").val(existingDates[0] + ' → ' + dateFormat);
                }
              }
            }
            
          });
        });
      </script>
</body>

</html>