<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information</title>
  </head>
<body>
  <%- include('./layout/header'); -%>

  <div class="container py-5">
    <div class="d-flex gap-4">
      <input class="material-symbols-outlined bg-white p-0 border-0" type ="button" onclick="history.back()" value="chevron_backward">
      <h2 class="fs-4 fw-medium">個人資料確認</h2>
    </div>
  </div>
  <form action="">
    <div class="container bg-white py-8">
      <div class="d-flex flex-column gap-6">
        <div class="input-group" style="height: 56px;">
          <span class="material-symbols-outlined input-group-text fs-2 text-tertiary border-end-0 rounded-start-1" id="ifo-name">account_circle</span>
          <input type="text" class="form-control lh-lg ps-0 border-start-0 rounded-end-1" style="letter-spacing: 0.1px;" aria-describedby="ifo-name" value="李小珉" readonly>
        </div>
        <div class="input-group" style="height: 56px;">
          <span class="material-symbols-outlined input-group-text fs-2 text-tertiary border-end-0 rounded-start-1" id="ifo-mail">mail</span>
          <input type="text" class="form-control lh-lg ps-0 border-start-0 rounded-end-1" style="letter-spacing: 0.1px;" aria-describedby="ifo-mail" value="svt2015@gmail.com" readonly>
        </div>
        <div class="input-group" style="height: 56px;">
          <span class="material-symbols-outlined fill-1 input-group-text fs-2 text-tertiary border-end-0 rounded-start-1" id="ifo-phone">smartphone</span>
          <input type="text" class="form-control lh-lg ps-0 border-start-0 rounded-end-1" style="letter-spacing: 0.1px;" aria-describedby="ifo-phone" value="0900 111 222" readonly>
        </div>
      </div>
    </div>
    <div class="py-2" style="background-color: #F5F5F4;">
      <div class="card flex-row gap-4 bg-secondary-50 p-4 rounded-0">
        <img class="object-fit-cover rounded-1" style="width: 96px; height: 96px;" src="../assets/images/hotel/image (6).jpg" alt="hotel">
        <div class="card-body p-0">
          <h3 class="card-title">台東毛爸綠島包棟民宿</h3>
          <p class="card-text">台東縣綠島鄉</p>
          <p class="card-text">7月14日―7月16日(2晚)</p>
          <p class="card-text">豪華寵物雙人套房 x1</p>
        </div>
      </div>
    </div>
    <div class="py-2" style="background-color: #F5F5F4;">
      
    </div>
  </form>
  
  <div class="container py-3">
    <div class="">
      <div class="d-flex flex-column">
        <span class="small text-tertiary">每晚最低</span>
        <span class="fs-3 fw-bold text-neutral-950" style="letter-spacing: 0.1px;">TWD 6,000</span>
      </div>
    </div>
    <a class="w-100" href="order.html">
      <button class="btn btn-primary w-100 fs-4 fw-bold lh-lg rounded-1" type="button">預定</button>
    </a>
  </div>

  <%- include('./layout/footer'); -%>
  <!-- <div style="height: 70px;"></div> -->

  <script type="module" src="../main.js"></script>
</body>
</html>
